@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
html {
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    background: url('bg.jpg') fixed center;
    background-size: 100%;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    height: inherit;
    justify-content: center;
    position: relative;
    color: white;
    tab-size: 150%
}
.wrapper {
    backdrop-filter: blur(5,5px);
    -webkit-backdrop-filter: blur(5,5px);
    background: rgba( 255, 255, 255, 0.75);
    border: 1px solid rgba( 255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.823);
    color: #828282;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(84, 84, 84, 0.464);
    border: 2px solid rgba(124, 124, 124, 0.34);
    flex-basis: 400px;
    height: 580px;
    padding: 20px 35px;
}
.donations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.donatello {
    max-width: 150px;
    background-color: #2a506b9f;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #84c4f289;
}
.monobank {
    max-width: 150px;
}
h2 {
    margin: 2px;
    font-family: inherit;
    color: white;
    margin-bottom: 20px;
}
input {
    border: none;
    font-size: 22px;
    margin-top: 5px;
    border: none;
}
.h1 {
    font-size: 30px;
    border-bottom: #a2a2a2 solid;
    color: rgb(255, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.Privat {
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(70, 70, 70);
    margin-right: 60px;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
}
.copy-link-button {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #000000;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}
.copy-link-button:hover {
    background-color: #303030;
}
.Privat h2 {
    margin-right: 20px;
}
.USDT {
    background-color: rgb(70, 70, 70);
    width: 350px;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    margin-left: 30px;
}
.USDT button {
    margin-left: 10px;
}
.USDT input,
.privat input {
    background-color: rgb(70, 70, 70);
    color: white;
}
.privat button {
    margin-left: 10px;
}
.bg {
    position: absolute;
    width: 49.9%;
}
.USDT h2 {
    margin-bottom: 10px;
}
@media only screen and (min-width: 1192px) and (max-width:2320px) {/*****magenta*******/
    body {
            background-size: 110%;
    }
}
@media only screen and (min-width: 1192px) and (max-width:2120px) {/*****magenta*******/
    body {
            background-size: 170%;
    }
}
@media only screen and (min-width: 1792px) and (max-width:828px) {/*****magenta*******/
    .wrapper {
        size: 1;
    }
}   
@media only screen and (min-width: 767px) and (max-width: 1426px) {/*****magenta*******/
    body {
            background-size: 200%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1190px) {/*****magenta*******/
    body {
            background-size: 220%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1066px) {/*****magenta*******/
    body {
            background-size: 444%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 972px) {/*****magenta*******/
    body {
            background-size: 280%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 860px) {/*****magenta*******/
    body {
            background-size: 420%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 760px) {/*****magenta*******/
    body {
            background-size: 1030%;
    }
}